<h1 class="page-header"><%= @puppy.name %></h1>

<%= image_tag(@puppy.image_url) %>
<div class="pull-right">
	<%= link_to "Edit", edit_puppy_path(@puppy), class:"btn btn-info" %> 
</div>
<div class="pull-right">
	<%= link_to "Is Adopted", @puppy, method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>
</div>
<ul>
	<li><%= @puppy.age  %></li>
	<li><%= @puppy.breed %></li>
	<li><%= @puppy.bio %></li>
</ul>

