<h1 class="page-header"><%= @puppy.name %></h1>




<div class="row">
 <div class="col-sm-6 col-md-4">

     <%= image_tag(@puppy.image_url, class:"thumbnail profile_img") %>


 </div>
 <div class="caption col-sm-6 col-md-4 pull-right">
       <h3><%= @puppy.name %></h3>
       <h5>Age:<%= @puppy.age  %></h5>
       <h5>Breed:<%= @puppy.breed %></h5>
       <h5>Bio:</h5><p><%= @puppy.bio %></p>
       <%= link_to "Edit", edit_puppy_path(@puppy), class:"btn btn-primary" %>
       <%= link_to "Adopted", @puppy, method: :delete, data:{alert:"are you sure?"} ,class:"btn btn-default" %>
 </div>
</div>




<p>

</p>
