<!DOCTYPE html>
<html>
<head>
  <title>PuppyCrudApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<button type="button" class="btn btn-default navbar-btn"><%= link_to "See All Puppies!", root_path %></button>
			<button type="button" class="btn btn-default navbar-btn">About</button>
			<button type="button" class="btn btn-default navbar-btn">Contact</button>
		</div>
  </div>
  <br>
  
  <div class="container main">
    <% if notice %>
      <div class="alert alert-success errors">
        <%= notice %>
      </div>
    <% end %>
    <%= yield %>	
  </div>

</body>
</html>
